/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #313438;
$secondary: #533899;
$tertiary: #F5A623;

/** ASSET URLS
 * login-bg: image for login splash page 
 */

$login-bg: url('https://pbs.twimg.com/profile_banners/948387744887255040/1517949483/1500x500');
